@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: hsl(182, 42%, 30%);
    --bg-color2: #408E91;
    --primary-color: #e8f9fd;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color) ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.button {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    display: block;
    color: var(--primary-color);
    background-color: var(--bg-color2);
}